.container_review{
    text-align: center;
    font-size: 64px;
    font-family: var(--font-family);
    padding: 10rem 0;
}

.review_wrap{
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    

}
.review_customer{
    width: 100%;
    height: fit-content;
    padding: 3rem;
    background-color:#D8AD5D80 50%;
    border-radius: 12px;
    margin-top: 5rem;

    
}