.container_review{
    text-align: center;
    padding: 5rem;
}

.review{
    font-family: var(--font-family);
    font-size: 64px;

}

.review_wrap{
    position: relative;
    max-width: 1300PX;
    margin: 0 auto;
    background-color:#D8AD5D80;
    
    

}
.review_customer{
    width: 100%;
    height: fit-content;
    padding: 3rem;

    border-radius: 12px;
    margin-top: 5rem;
    
}

.arrows{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
svg{
    width: 30px;
    pointer-events: none;
}

.next, .prev{
    margin: 0 0.5rem; 
    width: fit-content;
    background-color: #D8AD5D80;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}


