.pcf_product-container{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;

}

.product-wrap{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.pcf_product-img{
    width: 100%;
    margin: 50px 0;
}
.pcf-list{
    max-width: 500px;
    margin: 20px
}
