@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-family: 'Montserrat';
    --color-bg: #05386B;
    --color-footer: #05386B;
    --color-text: #ffffff ;

}